*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*------ home / header ------*/

.homeHeader {
    min-height: 140vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 3% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #500000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.header {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header h1 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 60px;
    font-weight: bold;
}

.header p {
    margin: 10px 30px 40px;
    font-size: 24px;
    color: #fff;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #500000;
    background: #500000;
    transition: 1s; 
}


nav .fa {
    display: none;
}

/*------ tablets ------*/

@media(max-width: 1176px) {
    .nav-links ul li {
        display: block;
        padding: 14px 12px;
    }

    .nav-links ul li a {
        font-size: 24px;
    }

    .nav-links {
        display: none;
        position: fixed;
        background: #500000;
        height: 100vh;
        width: 215px;
        right: 0;
        top: 0;
        text-align: center;
        z-index: 2;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-right: 50px;
        text-align: left;
        font-size: 48px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media(max-width: 1016px) {
    .header h1 {
        font-size: 48px;
    }
}

@media(max-width: 842px) {
    .header h1 {
        font-size: 36px;
    }

    .header p {
        font-size: 18px;
    }

    .button {
        font-size: 16px;
    }
}

@media(max-width: 647.5px) {
    .header h1 {
        font-size: 30px;
    }

    nav img {
        width: 125px;
    }

    nav .fa {
        margin-right: 30px;
        font-size: 30px;
    }
}

/*------ phones ------*/

@media(max-width: 600px) or (max-height: 600px) {
    nav img {
        width: 125px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header p {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
    }

    nav .fa {
        margin-right: 30px;
        font-size: 30px;
    }
}

@media(max-width: 440px) {
    .header h1 {
        font-size: 18px;
    }

    .header p {
        font-size: 14px;
    }

    .button {
        font-size: 12px;
    }
}

@media(max-height: 599px) {
    .nav-links ul li{
        padding: 9px 12px;
    }
}

@media(max-height: 500px) {
    .nav-links ul li{
        padding: 2px 12px;
    }
}

@media(max-height: 400px) {
    .nav-links ul li{
        padding: 0px 12px;
    }
}

/*------ footer ------*/

.footer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #000;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p {
    margin: 20px 30px;
    font-size: 18px;
}

.icons .fa {
    color: #fff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    text-decoration: none;
}

.icons a img {
    width: 25px;
    height: 25px;
    padding: 0px 5px;
}

/*------ back to top ------*/

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #5A5A5A;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#backToTop:hover {
    background-color: #500000;
}

/*------ about ------*/

.aboutHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/about.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.about {
    background: #fff;
}

.about h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.about h2 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 36px;
}

.about h3 {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 24px;
}

.about p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.about p a {
    color: #000;
}

/*------ events ------*/

.events {
    display: flex;
    flex-wrap: wrap;
}

/*------ slalom ------*/

.slalom {
    flex: 25%;
    margin: 20px;
}

.slalom-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.slalom h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

/*------ trick ------*/

.trick {
    flex: 25%;
    margin: 20px;
}

.trick-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.trick h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

/*------ jump ------*/

.jump {
    flex: 25%;
    margin: 20px;
}

.jump-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.jump h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

/*------ join ------*/

.joinHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/join.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.join {
    background: #fff;
}

.join h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.join h2 {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 24px;
}

.join p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.join p a {
    color: #000;
}

/*------ leadership ------*/

.leadershipHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/leadership.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.leadership {
    background: #fff;
}

.leadership h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.leadership h2 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 36px;
}

.leadership p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.officers {
    display: flex;
    flex-wrap: wrap;
}

/*------ president ------*/

.president {
    flex: 25%;
    margin: 20px;
}

.president h3 {
    color: #500000;
    text-align: center;
    font-size: 30px;
}

.president-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.president h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.president p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.president p a {
    color: #000;
}

/*------ vice_president ------*/

.vice_president {
    flex: 25%;
    margin: 20px;
}

.vice_president h3 {
    color: #500000;
    text-align: center;
    font-size: 30px;
}

.vice_president-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.vice_president h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.vice_president p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.vice_president p a {
    color: #000;
}

/*------ treasurer ------*/

.treasurer {
    flex: 25%;
    margin: 20px;
}

.treasurer h3 {
    color: #500000;
    text-align: center;
    font-size: 30px;
}

.treasurer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.treasurer h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.treasurer p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.treasurer p a {
    color: #000;
}

/*------ captain ------*/

.captain {
    flex: 25%;
    margin: 20px;
}

.captain h3 {
    color: #500000;
    text-align: center;
    font-size: 30px;
}

.captain-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.captain h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.captain p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.captain p a {
    color: #000;
}

/*------ secretary ------*/

.secretary {
    flex: 25%;
    margin: 20px;
}

.secretary h3 {
    color: #500000;
    text-align: center;
    font-size: 30px;
}

.secretary-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.secretary h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.secretary p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.secretary p a {
    color: #000;
}

/*------ calendar ------*/

.calendarHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/calendar.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.calendar {
    background: #fff;
}

.calendar h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.calendar p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.calendar iframe {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------ gallery ------*/

.galleryHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/gallery.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.gallery {
    background: #000;
}

.gallery h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #fff;
    text-align: center;
    font-size: 48px;
}

.gallery p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.hero {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.hero .carousel {
   max-width: 20%;
   max-height: 20%;
   margin: 100px auto 0;
   margin-left: 562.5px;
   overflow: visible; 
}

/*------ tablets ------*/

@media(max-width: 1400px) {
    .hero .carousel {
        margin-left: 37.5%;
    }
}

/*------ phones ------*/

@media(max-width: 600px) {
    .hero .carousel {
        max-width: 35%;
        max-height: 35%;
        margin-left: 27.5%;
    }
}

/*------ sponsors ------*/

.sponsorsHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/sponsors.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sponsors {
    background: #fff;
}

.sponsors h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.sponsors h2 {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: center;
    font-size: 24px;
}

.sponsors h2 a {
    color: #000;
}

.sponsors p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
}

/*------ connelly ------*/

.connelly {
    flex: 25%;
    margin: 20px;
}

.connelly-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.connelly h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.connelly p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.connelly p a {
    color: #000;
}

/*------ goode ------*/

.goode {
    flex: 25%;
    margin: 20px;
}

.goode-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.goode h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.goode p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.goode p a {
    color: #000;
}

/*------ ho ------*/

.ho {
    flex: 25%;
    margin: 20px;
}

.ho-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.ho h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.ho p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.ho p a {
    color: #000;
}

/*------ htx ------*/

.htx {
    flex: 25%;
    margin: 20px;
}

.htx-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.htx h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.htx p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.htx p a {
    color: #000;
}

/*------ masterline ------*/

.masterline {
    flex: 25%;
    margin: 20px;
}

.masterline-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.masterline h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.masterline p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.masterline p a {
    color: #000;
}

/*------ miami ------*/

.miami {
    flex: 25%;
    margin: 20px;
}

.miami-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.miami h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.miami p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.miami p a {
    color: #000;
}

/*------ radar ------*/

.radar {
    flex: 25%;
    margin: 20px;
}

.radar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

.radar h3 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.radar p {
    color: #000;
    text-align: center;
    font-size: 18px;
}

.radar p a {
    color: #000;
}

/*------ contact ------*/

.contactHeader {
    min-height: 300px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/contact.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact {
    background: #fff;
}

.contact h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 42px;
}

.contact p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.contact p a {
    color: #000;
}

/*------ contact form ------*/

.contactForm {
    text-align: center;
}

.contactForm h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: #500000;
    text-align: center;
    font-size: 36px;
}

.contactForm h2 {
    display: none;
    margin-left: 30px;
    margin-right: 30px;
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.contactForm p {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    text-align: left;
    font-size: 18px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-left: 25%;
    margin-right: 25%;
}

.form button{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}
  
.form button:hover{
    background-color: #500000;
    color: #fff;
}
  
.question {
    flex: 1 1 calc(50% - 30px);
    display: flex;
    flex-direction: column;
    gap: 18px
}

.question label {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.question label span {
    color: red;
    text-align: center;
    font-size: 24px;
}

.question input {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.question span {
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
  
.message {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.message label {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.message label span {
    color: red;
    text-align: center;
    font-size: 24px;
}

.message textarea {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 18px;
    min-height: 200px;
    width: 100%;
}

@media(max-width: 675px) {
    .question {
        flex: 1 1 100%;
    }

    .question input {
        width: 100%;
    }
}

/*------ received ------*/

.receivedHeader {
    min-height: 140vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(header/received.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}